html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; //自定义边框
  outline: none; //消除默认点击蓝色边框效果
  cursor: pointer;
}
button.btn-primary {
  width: 200px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-image: linear-gradient(#2082ff, #1360c3);
  border: none;
  box-shadow: 0 5px 10px #2082ff;
}
.point {
  color: #005fcb !important;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 1140px;
  color: #999;
  overflow-x: hidden;
}
body #root {
  width: 100%;
  margin: 0 auto;
}
body.modal-open {
  position: fixed;
  width: 100%;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  content: normal !important;
}

.ai-c {
  align-items: center;
}
.bd-0 {
  border: 0;
}
.b-n {
  border: none;
}

.c-b {
  clear: both;
  &::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

.c-p {
  cursor: pointer;
}

.d-ib {
  display: inline-block;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}
.d-f {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

// @for $k from 12 to 30
//   .fs-#{$k}
//     font-size: #{$k}px
.fs-12 {
  font-size: 12px;
}

.fw-b {
  font-weight: bold;
}

.fw-6 {
  font-weight: 600;
}
.bc-f {
  background-color: #fff;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.h-100_ {
  height: 100%;
}
.h-100- {
  height: 100vh;
}

.m-a {
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.o-h {
  overflow: hidden;
}

.o-a {
  overflow: auto;
}

.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
.p-f {
  position: fixed;
}

.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}

.t-h {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ta-05 {
  transition: all 0.5s;
}

.w-33_ {
  width: 33.3%;
}
.w-50_ {
  width: 50%;
}
.w-100_ {
  width: 100%;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}

.content-height {
  height: calc(100vh - 80px);
}

.oy-a {
  overflow-y: auto;
}

.o-h {
  overflow-y: hidden;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.mr-0.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}
.r-0 {
  right: 0;
}
.b-0 {
  bottom: 0;
}
.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.bgCss {
  &::before {
    display: block;
    position: fixed;
    top: -150px;
    left: -350px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    z-index: -99;
    content: "";
    background: -webkit-linear-gradient(
      #fcfcfd,
      #fcfcfd,
      #e0e9f2
    ); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(
      #fcfcfd,
      #fcfcfd,
      #e0e9f2
    ); /* Opera 11.1-12.0 */
    background: -moz-linear-gradient(
      #fcfcfd,
      #fcfcfd,
      #e0e9f2
    ); /* Firefox 3.6-15 */
    background: linear-gradient(#fcfcfd, #fcfcfd, #e0e9f2); /* 标准语法 */
  }
  &::after {
    display: block;
    position: fixed;
    top: -100px;
    right: -100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -99;
    content: "";
    background-color: #e0e9f2;
  }
}
